<div class="main-content">
  <div class="container-fluid">
    <div class="row game-title-row">
      <div class="col-xl-12">
        <h1 class="game-title">{{ game.name }}</h1>
      </div>
    </div>
    <div class="row game-type-row">
      <div class="col-xl-12">
        <h3 class="game-type">
          {{ game.pgaMatch }}
        </h3>
      </div>
    </div>
    <div class="row game-player-detail-row">
      <div class="col-xl-12">
        <app-game-player-detail
          [playerAdminDetails]="game.players"></app-game-player-detail>
      </div>
    </div>
  </div>
</div>
