.card-row {
  margin-top: 3%;
}

.header-card {
  text-align: center;
}

.mat-form-field {
  display: inline;
}

.mat-card-header-text {
  margin-left: auto;
  margin-right: auto;
}

.login-button, .register-button {
  width: 100%;
}

.register-button {
  margin-top: 3%;
}
