<div class="main-content">
  <div class="container-fluid">
    <div class="row card-row">
      <div class="col-xl-4 offset-xl-4">
        <mat-card>
          <div class="header-card">
            <mat-card-title>Login</mat-card-title>
          </div>
          <mat-card-content>
            <form [formGroup]="loginForm">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                  matInput
                  id="email"
                  type="email"
                  formControlName="email" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  id="password"
                  type="password"
                  formControlName="password" />
              </mat-form-field>
            </form>
          </mat-card-content>
          <button class="login-button" mat-raised-button color="primary">
            Login
          </button>
          <button class="register-button" mat-raised-button color="accent">
            Register
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
